/* Override some defaults */
html, body {
	background-color: #fff;
 	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
    color: #515151;
}

h1, h2, h3{
	color:#454545;
}

h1{
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	padding:0;
}

h2{
	margin-top: 0;
	color: #036;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	padding:5px 0 5px 0;
	border-bottom:1px solid #454545;
}

h3{
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin: 15px 0 15px 0;
	padding: 10px 0 10px 0;
	border-bottom:1px solid #bbb;
}

.span12 p {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #036;
	margin:10px 0 10px 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner{
	padding-left:20px;
	padding-right:20px;
	background-color:orange;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .brand{
	float:left;
	display:block;
	padding:8px 20px 12px;
	margin-left:-20px;
	font-size:150%;
	font-weight:bolder;
	line-height:1;
	color:#fff;
}

.navbar .nav > li > a {
	color: #000;
	font-size:110%;
}

.navbar .nav > li > a:hover{
	background-color:#fff;
	color:#000;
	text-decoration:none;
}

.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  border-style:none solid solid;
  border-width: medium;
  border-color: orange;
  padding: 20px 20px 20px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

a{
	text-decoration:none;
	color: blue;
}

a:hover{
	text-decoration: underline;
	color: orange;
}

img {
	display: block;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 4px #d0d0d0;
}

.blogrss{
	border: none;
	margin-top: 10px;
}

.blogrss img{
	float: left;
	border: none;
	box-shadow:none;
}

/* Page header tweaks */
.page-header {
  background-color: #F5FAFA;
  padding: 10px 20px 2px;
  margin: -20px -20px 5px;
}

.topbar .btn {
  border: 0;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.tag_box li {
	font-size: 90%;
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: orange;
	color:blue;
	border-radius: 3px;
	text-decoration:none;
	font-size: 110%;
}

.tag_box a:hover{
	color:#fff;
}

.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

pre{
	display:block;
	padding:8px;
	margin:5px 5px 10px 0;
	background-color: #F5FAFA;
	border: solid thin #ACD1E9;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	white-space:pre;
	white-space:pre-wrap;
	word-break:break-all;
	word-wrap:break-word;
}

code {
	font-size: medium;
	line-height:75%;
}

#return_top{
	position:         fixed;
	right:            10%;
	bottom:           20px;
    
	padding:          5px;
	background:       orange;
	border-radius:    5px;

	font-size:        110%;
	font-weight:      bold;  
}

#return_top a{
	color:            #FFF;
	text-decoration:  none;
}

#return_top a:hover{
	color:            blue;
}

.fork-me {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.fork-me img{
    border: none;
    box-shadow: 0 0 0 #000;
}

.span12 ul li {
	font-size:120%; 
	color:#036; 
	margin-top:10px;
}

